# Refinitiv Data Library for Python

## Content - Fundamental and Reference
This notebook demonstrates how to retrieve Fundamental and Reference data either directly from the Refinitiv Data Platform or via Refinitiv Workspace or CodeBook.

#### Learn more

To learn more about the Refinitiv Data Library for Python please join the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [logging](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) into the Refinitiv Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start), 
 [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/learning), 
 [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/docs)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Refinitiv Data Q&A Forum](https://community.developers.refinitiv.com/spaces/321/index.html). 
The Refinitiv Developer Community will be happy to help.

## Some Imports to start with

In [1]:
import refinitiv.data as rd
from refinitiv.data.content import fundamental_and_reference
import datetime

## Open the data session

The open_session() function creates and open sessions based on the information contained in the refinitiv-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [10]:
rd.open_session()

## Retrieve data

### Simple requets
#### Get Revenue and GrossProfit for IBM.N and TRI.N

In [3]:
response = fundamental_and_reference.Definition(
    ["TRI.N", "IBM.N"],
    ["TR.Revenue", "TR.GrossProfit"]
).get_data()

response.data.df

  Instrument      Revenue  Gross Profit
0      TRI.N   5984000000    5656000000
1      IBM.N  73620000000   35574000000

### Simple request with chain
#### Get Revenue and GrossProfit for all constituents of the chain

In [4]:
response = fundamental_and_reference.Definition(
    ["0#.DJI"],
    ["TR.Revenue", "TR.GrossProfit"]
).get_data()

response.data.df

   Instrument       Revenue  Gross Profit
0        GS.N   56351000000   43272000000
1       NKE.N   44538000000   19997000000
2     CSCO.OQ   49818000000   31894000000
3       JPM.N          <NA>          <NA>
4       DIS.N   65388000000   21508000000
5     INTC.OQ   77867000000   43612000000
6       DOW.N   38542000000    5213000000
7       MRK.N   47994000000   34284000000
8       CVX.N   94471000000   43983000000
9       AXP.N   37030000000   26816000000
10       VZ.N  128292000000   77091000000
11       HD.N  132110000000   44853000000
12     WBA.OQ  132509000000   28067000000
13      MCD.N   19207800000    9752100000
14      UNH.N          <NA>          <NA>
15       KO.N   33014000000   19581000000
16      JNJ.N   82584000000   54257000000
17    MSFT.OQ  168088000000  115856000000
18     HON.OQ   32637000000   10468000000
19      CRM.N   21252000000   15814000000
20       PG.N   76118000000   39144000000
21      IBM.N   73620000000   35574000000
22      MMM.N   32184000000   15685000000
23    AAPL.OQ  365817000000  152836000000
24      WMT.N  559151000000  138836000000
25      CAT.N   41748000000   12709000000
26    AMGN.OQ   25424000000   19265000000
27        V.N   24105000000          <NA>
28      TRV.N          <NA>          <NA>
29       BA.N   58656000000   -5187000000

### Request with global parameters
#### Get Revenue and GrossProfit for GOOG.O and APPL.O with applied global parameters

In [5]:
response = fundamental_and_reference.Definition(
    ["GOOG.O", "AAPL.O"],
    ["TR.Revenue", "TR.GrossProfit"],
    {"SDate": "0CY", "Curn": "CAD"}
).get_data()

response.data.df

  Instrument       Revenue  Gross Profit
0     GOOG.O  210187500200  116823354600
1     AAPL.O  367410876000  140473110400

### Request with data item parameters
#### Get PriceTargetMean and LowPrice for GOOG.O and APPL.O with applied local parameters for each field

In [6]:
response = fundamental_and_reference.Definition(
    ["GOOG.O", "AAPL.O"],
    ["TR.PriceTargetMean(SDate:0CY)", "TR.LOWPRICE(SDate:0d)"]
).get_data()

response.data.df

  Instrument  Price Target - Mean  Low Price
0     GOOG.O           1862.08333    2950.14
1     AAPL.O            128.55263   150.0601

### Timeseries
#### Get timeseries data

In [12]:
response = fundamental_and_reference.Definition(
    ["GOOG.O", "MSFT.O", "FB.O", "AMZN.O", "TWTR.K"],
    ["TR.Revenue.date", "TR.Revenue", "TR.GrossProfit"],
    {"Scale": 6, "SDate": 0, "EDate": -3, "FRQ": "FY", "Curn": "EUR"}
).get_data()

response.data.df

   Instrument                  Date       Revenue  Gross Profit
0      GOOG.O  2020-12-31T00:00:00Z   149453.1076     80074.546
1      GOOG.O  2019-12-31T00:00:00Z  144386.15542   80250.60966
2      GOOG.O  2018-12-31T00:00:00Z  119295.22248    67373.2584
3      GOOG.O  2017-12-31T00:00:00Z   92409.83655   54411.39192
4      MSFT.O  2021-06-30T00:00:00Z  141787.27064   97728.01168
5      MSFT.O  2020-06-30T00:00:00Z  127339.12585   86311.73543
6      MSFT.O  2019-06-30T00:00:00Z  110699.05338   72952.84278
7      MSFT.O  2018-06-30T00:00:00Z    94461.5384   61633.67158
8        FB.O  2020-12-31T00:00:00Z     70388.142    56720.7324
9        FB.O  2019-12-31T00:00:00Z   63065.96582   51674.35962
10       FB.O  2018-12-31T00:00:00Z   48686.26896   40529.45736
11       FB.O  2017-12-31T00:00:00Z   33888.74733   29342.23839
12     AMZN.O  2020-12-31T00:00:00Z   316109.2032   125077.4316
13     AMZN.O  2019-12-31T00:00:00Z  250242.45532  102574.41116
14     AMZN.O  2018-12-31T00:00:00Z  203058.83304   81725.93352
15     AMZN.O  2017-12-31T00:00:00Z  148270.87626   54961.57452
16     TWTR.K  2020-12-31T00:00:00Z   3042.946561   1924.148067
17     TWTR.K  2019-12-31T00:00:00Z   3085.929028   2071.620233
18     TWTR.K  2018-12-31T00:00:00Z   2652.693659   1811.293475
19     TWTR.K  2017-12-31T00:00:00Z   2036.758479   1318.818536

### Close the session

In [13]:
rd.close_session()